Object files
*.o
*.ko
*.obj
*.elf
*.output

# Traces
*.tr

# Precompiled Headers
*.gch
*.pch
*.tab.h
parser.c

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
compiler467
